#emprestimo-table thead th {
    color: var(--brown);
    background-color: var(--yellow);
    border-color: var(--yellow);
    text-align: center;
}

#emprestimo-table tbody {
    color: var(--dark);
}

#emprestimo-table tbody tr td {
    text-align: center;
    vertical-align: middle;
}

#emprestimo-table tbody tr .status {
    text-align: center;
    font-size: 1.5em;
}

#emprestimo-table tbody tr .action ul li {
    display: inline;
    font-size: 1.3em;
}