.block, .welcome-block, .chart {
    border: 0;
}

.block, .welcome-block {
    min-height: 8em;
    max-height: 8em;
}

.welcome-block {
    background: var(--yellow);
    color: var(--brown);
}

.block {
    background-color: var(--white);
    color: var(--dark);
}

.block:hover {
    cursor: pointer;
}

.welcome-block .card-body .card-content,
.block .card-body .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body .card-content .card-content-img i {
    font-size: 3.5em;
    transition: all 0.3s;
}

.block .card-body .card-content .card-content-info .card-title {
    transition: all 0.3s;
}

.block:hover .card-body .card-content .card-content-info .card-title,
.block:hover .card-body .card-content .card-content-img i {
    color: var(--blue);
}

a.block-link {
    text-decoration: none;
}

.chart {
    background-color: var(--white);
    min-height: 20em;
    max-height: 20em;
    padding: 2em;
}

#carrosel-comentarios {
    background-color: var(--yellow);
    border-radius: 0.3em;
}

#comentarios .carousel-control-prev i,
#comentarios .carousel-control-next i {
    font-size: 3em;
    color: var(--brown);
}

#comentarios .carousel-indicators li {
    background-color: var(--brown);
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

#comentarios .carousel-item .carousel-item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 5em;
}

#comentarios .carousel-item .carousel-item-content .carousel-image {
    margin-right: 1em;
}

#comentarios .carousel-item .carousel-item-content .carousel-image img {
    width: 10em;
}
