.block, .welcome-block, .chart {
    border: 0;
}

.block, .welcome-block {
    max-height: 7em;
}

.welcome-block {
    background: var(--yellow);
    color: var(--brown);
}

.block {
    background-color: var(--white);
    color: var(--dark);
}

.welcome-block .card-body .card-content,
.block .card-body .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body .card-content .card-content-img i {
    font-size: 3.5em;
}

.chart {
    background-color: var(--white);
    min-height: 20em;
    max-height: 20em;
}