#editar-perfil-form .foto {
    display: flex;
    align-items: center;
    justify-content: center;
}

#editar-perfil-form img {
    width: 324px;
    height: 324px;
    border-radius: 100%;
}

#editar-perfil-form input[type='file'] {
    color: var(--brown);
}