.main {
    margin: 0 !important;
    background-color: var(--blue) !important;
}

.footer {
    position: fixed !important;
    bottom: 0 !important;
}

.login-form-wrapper {
    background-color: var(--white-medium);
    border-radius: 1em;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    display: flex;
    justify-content: center;
    align-items: stretch;

    width: 100%;
    min-width: 315px;
    height: 73vh;
    max-height: 73vh;
}

.login-form-main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.login-form-img, .login-form {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80%;
}

#login-form .form-group input, #login-form .login-form-btn {
    width: 100%;
    padding: 0.75em 3.5em;
    border: none;
    border-radius: 2em;
}

#login-form .form-group input {
    width: 100%;
    padding: 0.75em 3.5em;
    display: inline-block;
    outline: 0;
    transition: all 0.2s;
    color: var(--dark);
}

#login-form .form-group input:focus {
    border: 3px solid var(--yellow);
}

#login-form .form-group input:focus + i {
    color: var(--yellow);
    top: 1.2em;
}

#login-form .form-group {
    position: relative;
}

#login-form .form-group i {
    position: absolute;
    left: 1.8em;
    top: 1em;
    color: var(--dark);
    transition: all 0.2s;
}

#login-form .login-form-btn {
    background-color: var(--yellow);
    color: var(--brown);
    font-weight: 800;
    transition: all 0.2s;
}

#login-form .login-form-btn:hover {
    background: var(--blue-light);
    color: var(--blue);
}

#login-form .form-group .show-pwd {
    left: 17em;
    display: none;
}

#login-form .form-group .show-pwd:hover {
    cursor: pointer;
    color: var(--blue);
}

#login-form .custom-checkbox {
    padding-left: 2.9em;
    margin-bottom: 1em;
}

#login-form .custom-checkbox label {
    color: var(--dark);
    font-size: 0.8em;
}

#login-form .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: var(--blue);
    border-color: var(--blue);
}

#login-form .forgot-pwd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#login-form .forgot-pwd a {
    text-decoration: none;
    font-size: 0.8em;
    color: var(--dark);
    transition: all 0.2s;
}

#login-form .forgot-pwd a:hover {
    color: var(--brown);
}

.login-form-img {
    background-color: var(--white-medium);
    background-image: url('../images/books-login.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media only screen and (max-width: 600px) {
    .login-form-img {
        display: none;
    }

    .login-form-wrapper {
        height: 50vh;
    }
}

